#button {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(61, 135, 91);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

#button2 {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(116, 116, 116);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

#titleLabel {
    -fx-font-weight: bold;
}