<html>
<head>
    <meta charset="utf-8">
    <title>Las Poly - Game Instructions</title>
    <link href="./rules.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Overview</h1>

<h2>Game Preparation</h2>

<p>Each player obtains <strong>1300 Las Poly Dollars</strong> (<strong>LPDs</strong>) initially.</p>

<h2>Game Rules</h2>
<ol>
    <li>It is being chosen randomly which player will start with the first move.</li>
    <li>When having a turn, one can decide to construct buildings or make a swap offer before the actual move.</li>
    <li>After that, the player rolls the dice. The figure moves forwards in direction of the arrow as many fields as the
        number rolled. It may happen that multiple players meet at the same field. The action you have to when landing
        on a field differs as briefly described in the following. Details can be found in the according chapters below.
        <ul>
            <li>Landing on an unsold property means that the player can buy it. In this case, the corresponding amount
                of money will be transferred to the bank.
            </li>
            <li>If the property you land on already sold, you need to pay a rent to the owner. The amount can be found
                on the property’s card. Rents of streets depend on the position of the street on the board. They further
                depend on the buildings which are built on it. Attractions have different methods for calculating the
                rents. These rules can be found below. Players don’t need to pay rents for mortgaged properties.
            </li>
            <li>You need to pay money to the casino if you land on one of the Pay-Into-The-Casino fields.</li>
            <li>Inside the game there are multiple possibilities which require you to go to jail. The Go-Into-Prison
                field is one possibility. When landing on this field your figure moves straight into the prison. You
                cannot do further actions after going to prison.
            </li>
            <li>When your figure moves over the start field, you receive <strong>200 LPDs</strong>. The double payment (<strong>400 LPDs</strong>) is made
                when you exactly hit the start field.
            </li>
            <li>When you land a action field you are supposed to take a card from the card deck and do the described
                action.
            </li>
            <li>No actions need to be done when landing on the free parking field.</li>
            <li>It is possible to travel from each train station to each other.</li>
        </ul>
    </li>
    <li>Once you possess all streets of one colour group you are allowed to construct buildings on them.</li>
    <li>If you have thrown doubles you may finish your turn regularly and you need to roll the dice once more. Throwing
        doubles three times in a row, you must go to jail.
    </li>
    <li>The game ends when all players except one are out of the game. The last player having money left is the winner
        of Las Poly.
    </li>
</ol>
<h1>In Detail</h1>

<h2>Buy properties</h2>

<p>There are <strong>3 different kinds</strong> of properties: Streets, train stations and attractions. Once a property is purchased, you
    obtain the corresponding property card.
    From this moment you receive rent from other players, that get to your new property. If your property is burdened
    with a mortgage, you don’t receive anymore rent(you can find more information in the chapter mortgage).
    As soon as you have all streets of the same colour, you can build on your streets and the rent for other players is
    doubled.</p>

<h2>Attractions</h2>

<p>Attractions are properties which are sold like streets. There are the ferris wheel and the circus. Each attraction
    costs <strong>150 LPD</strong>. The rents are calculated by how high you dice. Owns a player one attraction is the rent your dice
    result <strong>multiplied with 4</strong>, if the player owns both attractions is the result <strong>multiplied by 10</strong>.</p>

<h2>Train Stations</h2>

<p>Train stations are also sold like streets. Each station costs the player <strong>200 LPD</strong>. If another player lands on a train
    stations he owes the owner rent. the base rent amounts to <strong>50 LPD</strong>. For each train station the Player owns the rent is
    multiplied by 2. </p>

<h3>Travels by train</h3>

<p>If you land on a train station you are allowed to travel by train. Since there are 4 different train stations you can
    travel to 3 different stations.In your moving direction the travels costs <strong>75 LPD</strong> per train station. The money is paid
    to the bank. If your starting location is already sold you have to pay the rent to the owner but is no rent to be
    paid at the destination or the possibility to purchase train station you are travelling to. If you travel over GO
    you don’t get any money from the field.</p>

<h2>Constructing buildings</h2>

<p>In general a player can construct a building if he owns every street of a colour. He can just build if it’s his turn.
    There are colours with just one street so the player can immediately start building.</p>

<h3>Constructing Houses</h3>

<p>You can construct buildings to raise the rent for your streets. to The price for a house is written on the property
    card. You can not upgrade beyond a hotel or a factory. You have to build evenly. That means every property needs at
    least one building before you can build a second building on a property. You can construct infinite buildings in a
    single round, if you can afford them. You can’t build if one or more properties are buried with a mortgage.</p>

<h3>Constructing Hotels</h3>

<p>If a player built 4 houses on every property of a kind he can upgrade them even further to a hotel. The price and the
    new rent is written on the property card.</p>

<h3>Constructing Factories</h3>

<p>Factories are an alternative to houses and hotels. A factory can only be purchased is there is no other building on
    the street. The requirements to build a factory do not differ from the requirements for a house.
    Factories have the ability to give the owner money instead of getting it from other players. The exact costs and
    benefits are written on the property card. There are no rents to be paid if you build a factory on your streets.
    The Choice is yours. Raising the rents with houses and hotels or giving up on them and earning money from
    factories.</p>

<h2>Casino</h2>

<p>The Casino is a special field. If you land on with a double on the casino you receive <strong>a quarter</strong> of the casino
    fortune. The exception is the <strong>double with two 6</strong>. Now you get the jackpot! That means you get <strong>the half</strong> of the casino
    fortune.</p>

<h3>Pay-Into-The-Casino field</h3>

<p>If you land on this field that means you lost a game in the casino and now you need to pay your debts.</p>

<h2>The Prison</h2>

<p>There are 3 different ways in prison. If you roll a double three times in a row, you are going to prison for
    cheating. If you cross “GO” with your last double you don’t earn money. There is also the special field “Go to
    prison” and the action card “Go to prison”.
    Once you are in prison there are two ways to get out.
    First you roll a double. You have three chances each round to do so. You can pay <strong>50 LPD</strong> to get out of prison
    immediately. After three rounds without a double you have to pay to continue.</p>

<h1>Your capital</h1>

<h2>Out of money</h2>

<p>If your unlucky there is the possibility to be short on money. Be warned. If your bank accounts hits zero you are out
    of the game. Your are advised to play carefully and check your balance before you trade anything.</p>

<h2>Swap and Sell</h2>

<p>Every property without buildings can be offered for trading. Of course LPD can be added.
    A trade can be prepared even if it’s not the players turn. Sending and accepting a trade is only possible if it’s
    your turn. </p>

<p>Selling gives you the <strong>half of the purchasing price</strong>. You can sell buildings, but also you can sell whole streets.
    Before selling a street you have to sell buildings first.</p>

<h2>Assuming a mortgage</h2>

<p>If you need money you can assume a mortgage. You receive the mortgage value of your property and are not able to get
    any rent or construct buildings with a active mortgage. Before assuming a mortgage you have to sell all buildings on
    the group of streets.</p>

<h2>Mortgage Repayment</h2>

<p>To repay a mortgage you have to pay the bank the <strong>original price</strong> and additional <strong>10% expense allowance</strong>.</p>

<h2>Property Prices and Rents</h2>

<p>In the following table all prices and rents can be found. Attractions and train stations calculate prices in a
    special way. These methods are described above.</p>
<table border="1">
    <tr>
        <th>Property</th>
        <th>Price</th>
        <th>buying a house</th>
        <th>buying a hotel</th>
        <th>buying a factory</th>
        <th>Mortgage value</th>
    </tr>
    <tr>
        <td>Arndt Avenue</td>
        <td>60 LPD</td>
        <td>30 LPD</td>
        <td>30 LPD</td>
        <td>60 LPD</td>
        <td>30 LPD</td>
    </tr>
    <tr>
        <td>Frank Sinatra Route</td>
        <td>70 LPD</td>
        <td>40 LPD</td>
        <td>40 LPD</td>
        <td>80 LPD</td>
        <td>35 LPD</td>
    </tr>
    <tr>
        <td>Winnick Way</td>
        <td>80 LPD</td>
        <td>40 LPD</td>
        <td>40 LPD</td>
        <td>80 LPD</td>
        <td>40 LPD</td>
    </tr>
    <tr>
        <td>Rochelle Street</td>
        <td>100 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>50 LPD</td>
    </tr>
    <tr>
        <td>Jacoby Street</td>
        <td>100 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>50 LPD</td>
    </tr>
    <tr>
        <td>Singer Route</td>
        <td>120 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>60 LPD</td>
    </tr>
    <tr>
        <td>Fulano</td>
        <td>130 LPD</td>
        <td>65 LPD</td>
        <td>65 LPD</td>
        <td>130 LPD</td>
        <td>65 LPD</td>
    </tr>
    <tr>
        <td>West Avenue</td>
        <td>140 LPD</td>
        <td>75 LPD</td>
        <td>75 LPD</td>
        <td>150 LPD</td>
        <td>70 LPD</td>
    </tr>
    <tr>
        <td>Monterro Freeway</td>
        <td>150 LPD</td>
        <td>75 LPD</td>
        <td>75 LPD</td>
        <td>150 LPD</td>
        <td>75 LPD</td>
    </tr>
    <tr>
        <td>Hardwick Street</td>
        <td>180 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>90 LPD</td>
    </tr>
    <tr>
        <td>Park Road</td>
        <td>180 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>90 LPD</td>
    </tr>
    <tr>
        <td>Casino Street</td>
        <td>200 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>100 LPD</td>
    </tr>
    <tr>
        <td>St. Louis Square</td>
        <td>220 LPD</td>
        <td>110 LPD</td>
        <td>110 LPD</td>
        <td>220 LPD</td>
        <td>110 LPD</td>
    </tr>
    <tr>
        <td>Bellagio Path</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
        <td>120 LPD</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
    </tr>
    <tr>
        <td>Kennedy Avenue</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
        <td>120 LPD</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
    </tr>
    <tr>
        <td>Theresia Freeway</td>
        <td>260 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>130 LPD</td>
    </tr>
    <tr>
        <td>Douglas Promenade</td>
        <td>260 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>130 LPD</td>
    </tr>
    <tr>
        <td>Heaven Avenue</td>
        <td>280 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>140 LPD</td>
    </tr>
    <tr>
        <td>Edison Walker Street</td>
        <td>300 LPD</td>
        <td>150 LPD</td>
        <td>150 LPD</td>
        <td>300 LPD</td>
        <td>150 LPD</td>
    </tr>
    <tr>
        <td>Crosswood Avenue</td>
        <td>320 LPD</td>
        <td>170 LPD</td>
        <td>170 LPD</td>
        <td>320 LPD</td>
        <td>160 LPD</td>
    </tr>
    <tr>
        <td>Showcase Road</td>
        <td>340 LPD</td>
        <td>170 LPD</td>
        <td>170 LPD</td>
        <td>340 LPD</td>
        <td>170 LPD</td>
    </tr>
    <tr>
        <td>Winchester 95</td>
        <td>360 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>180 LPD</td>
    </tr>
    <tr>
        <td>Paradise Road</td>
        <td>360 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>180 LPD</td>
    </tr>
    <tr>
        <td>Las Vegas Strip</td>
        <td>400 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>200 LPD</td>
    </tr>
</table>
<span>&nbsp;</span>
<table border="1">
    <tr>
        <th>Property</th>
        <th>rent</th>
        <th>1 house rent</th>
        <th>2 houses rent</th>
        <th>3 houses rent</th>
        <th>4 houses rent</th>
        <th>Hotel rent</th>
        <th>Factory revenue</th>
    </tr>
    <tr>
        <td>Arndt Avenue</td>
        <td>2 LPD</td>
        <td>10 LPD</td>
        <td>30 LPD</td>
        <td>90 LPD</td>
        <td>170 LPD</td>
        <td>260 LPD</td>
        <td>230 LPD</td>
    </tr>
    <tr>
        <td>Frank Sinatra Route</td>
        <td>4 LPD</td>
        <td>20 LPD</td>
        <td>60 LPD</td>
        <td>180 LPD</td>
        <td>340 LPD</td>
        <td>520 LPD</td>
        <td>460 LPD</td>
    </tr>
    <tr>
        <td>Winnick Way</td>
        <td>5 LPD</td>
        <td>25 LPD</td>
        <td>75 LPD</td>
        <td>225 LPD</td>
        <td>425 LPD</td>
        <td>650 LPD</td>
        <td>575 LPD</td>
    </tr>
    <tr>
        <td>Rochelle Street</td>
        <td>6 LPD</td>
        <td>30 LPD</td>
        <td>90 LPD</td>
        <td>270 LPD</td>
        <td>510 LPD</td>
        <td>780 LPD</td>
        <td>690 LPD</td>
    </tr>
    <tr>
        <td>Jacoby Street</td>
        <td>7 LPD</td>
        <td>35 LPD</td>
        <td>105 LPD</td>
        <td>315 LPD</td>
        <td>595 LPD</td>
        <td>910 LPD</td>
        <td>805 LPD</td>
    </tr>
    <tr>
        <td>Singer Route</td>
        <td>8 LPD</td>
        <td>40 LPD</td>
        <td>120 LPD</td>
        <td>360 LPD</td>
        <td>680 LPD</td>
        <td>1040 LPD</td>
        <td>920 LPD</td>
    </tr>
    <tr>
        <td>Fulano</td>
        <td>10 LPD</td>
        <td>50 LPD</td>
        <td>100 LPD</td>
        <td>300 LPD</td>
        <td>550 LPD</td>
        <td>850 LPD</td>
        <td>750 LPD</td>
    </tr>
    <tr>
        <td>West Avenue</td>
        <td>11 LPD</td>
        <td>55 LPD</td>
        <td>165 LPD</td>
        <td>495 LPD</td>
        <td>935 LPD</td>
        <td>1430 LPD</td>
        <td>1265 LPD</td>
    </tr>
    <tr>
        <td>Monterro Freeway</td>
        <td>12 LPD</td>
        <td>60 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>1020 LPD</td>
        <td>1560 LPD</td>
        <td>1380 LPD</td>
    </tr>
    <tr>
        <td>Hardwick Street</td>
        <td>14 LPD</td>
        <td>70 LPD</td>
        <td>210 LPD</td>
        <td>630 LPD</td>
        <td>1190 LPD</td>
        <td>1820 LPD</td>
        <td>1610 LPD</td>
    </tr>
    <tr>
        <td>Park Road</td>
        <td>15 LPD</td>
        <td>75 LPD</td>
        <td>225 LPD</td>
        <td>675 LPD</td>
        <td>1275 LPD</td>
        <td>1950 LPD</td>
        <td>1725 LPD</td>
    </tr>
    <tr>
        <td>Casino Street</td>
        <td>16 LPD</td>
        <td>80 LPD</td>
        <td>240 LPD</td>
        <td>720 LPD</td>
        <td>1360 LPD</td>
        <td>2080 LPD</td>
        <td>1840 LPD</td>
    </tr>
    <tr>
        <td>St. Louis Square</td>
        <td>18 LPD</td>
        <td>90 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>990 LPD</td>
        <td>1530 LPD</td>
        <td>1350 LPD</td>
    </tr>
    <tr>
        <td>Bellagio Path</td>
        <td>19 LPD</td>
        <td>95 LPD</td>
        <td>185 LPD</td>
        <td>855 LPD</td>
        <td>1615 LPD</td>
        <td>2470 LPD</td>
        <td>2185 LPD</td>
    </tr>
    <tr>
        <td>Kennedy Avenue</td>
        <td>20 LPD</td>
        <td>100 LPD</td>
        <td>300 LPD</td>
        <td>900 LPD</td>
        <td>1700 LPD</td>
        <td>2600 LPD</td>
        <td>2300 LPD</td>
    </tr>
    <tr>
        <td>Theresia Freeway</td>
        <td>22 LPD</td>
        <td>110 LPD</td>
        <td>330 LPD</td>
        <td>990 LPD</td>
        <td>1870 LPD</td>
        <td>2860 LPD</td>
        <td>2530 LPD</td>
    </tr>
    <tr>
        <td>Douglas Promenade</td>
        <td>23 LPD</td>
        <td>115 LPD</td>
        <td>345 LPD</td>
        <td>1035 LPD</td>
        <td>1955 LPD</td>
        <td>2990 LPD</td>
        <td>2645 LPD</td>
    </tr>
    <tr>
        <td>Heaven Avenue</td>
        <td>24 LPD</td>
        <td>120 LPD</td>
        <td>360 LPD</td>
        <td>1080 LPD</td>
        <td>2040 LPD</td>
        <td>3120 LPD</td>
        <td>2760 LPD</td>
    </tr>
    <tr>
        <td>Edison Walker Street</td>
        <td>26 LPD</td>
        <td>130 LPD</td>
        <td>260 LPD</td>
        <td>780 LPD</td>
        <td>1430 LPD</td>
        <td>2210 LPD</td>
        <td>1950 LPD</td>
    </tr>
    <tr>
        <td>Crosswood Avenue</td>
        <td>29 LPD</td>
        <td>145 LPD</td>
        <td>435 LPD</td>
        <td>1305 LPD</td>
        <td>2465 LPD</td>
        <td>3770 LPD</td>
        <td>3335 LPD</td>
    </tr>
    <tr>
        <td>Showcase Road</td>
        <td>30 LPD</td>
        <td>150 LPD</td>
        <td>450 LPD</td>
        <td>1350 LPD</td>
        <td>2550 LPD</td>
        <td>3900 LPD</td>
        <td>3450 LPD</td>
    </tr>
    <tr>
        <td>Winchester 95</td>
        <td>36 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>1620 LPD</td>
        <td>3060 LPD</td>
        <td>4680 LPD</td>
        <td>4140 LPD</td>
    </tr>
    <tr>
        <td>Paradise Road</td>
        <td>38 LPD</td>
        <td>190 LPD</td>
        <td>570 LPD</td>
        <td>1710 LPD</td>
        <td>3230 LPD</td>
        <td>4940 LPD</td>
        <td>4370 LPD</td>
    </tr>
    <tr>
        <td>Las Vegas Strip</td>
        <td>40 LPD</td>
        <td>200 LPD</td>
        <td>600 LPD</td>
        <td>1800 LPD</td>
        <td>3400 LPD</td>
        <td>5200 LPD</td>
        <td>4600 LPD</td>
    </tr>
</table>


</body>
</html>