<html>
<head>
    <meta charset="utf-8">
    <title>Las Poly - Spielanleitung</title>
    <link href="./rules.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Überblick</h1>

<h2>Spielvorbereitung</h2>

<p>Zu Beginn des Spieles erhält jeder Spieler <strong>1300 Las Poly Dollar</strong> (<strong>LPD</strong>).</p>

<h2>Der Spielablauf</h2>
<ol>
    <li>Der Spieler der beginnt, wird zufällig vom Spiel bestimmt.</li>
    <li>Wer an der Reihe ist, kann bevor er würfelt noch Gebäude errichten oder Tauschangebote erzeugen.</li>
    <li>Dann wird gewürfelt und die Spielfigur wird in Pfeilrichtung um die Summe der Augenzahlen beider Würfel bewegt.
        Es ist möglich, dass mehrere Spielfiguren auf einem Feld stehen. Je nachdem, auf welchem Feld Sie bei Ihrem Zug
        landen, unterscheidet sich die Vorgehensweise wie grob im Folgenden beschrieben. Details sind weiter unten im
        jeweils zugehörigen Kapitel aufgeführt.
        <ul>
            <li>Landen Sie auf einem unverkauften Grundstück, so haben Sie die Chance, dieses zu kaufen. In diesem Fall
                wird der Grundstückswert von Ihrem Konto auf die Bank überwiesen.
            </li>
            <li>Landen Sie auf einem verkauften Grundstück, müssen Sie dem Eigentümer Miete bezahlen. Diese spezifiziert
                die entsprechende Grundstückskarte. Bei Straßen hängt die Miete von der Position der Straße auf dem
                Grundstück und von den Gebäuden ab, die auf der Straße errichtet sind. Bei Attraktionen gibt es andere
                Methoden zur Berechnung der Miete. Diese sind der jeweiligen Grundstückskarte zu entnehmen. Ein mit
                einer Hypothek belastetes Grundstück bringt keine Miete ein.
            </li>
            <li>Landen Sie auf dem Casino, müssen Sie Casinosteuern bezahlen.</li>
            <li>Landen Sie auf dem Feld “Gehen Sie in das Gefängnis”, so wird Ihre Spielfigur sofort ins Gefängnis
                bewegt und Sie dürfen keine weiteren Spielaktionen ausführen.
            </li>
            <li>Bewegt sich Ihre Figur bei Ihrem Zug über das Startfeld, bekommen Sie <strong>200 LPD</strong> überwiesen. Landen Sie
                direkt auf dem Startfeld, so bekommen Sie sogar den doppelten Betrag (<strong>400 LPD</strong>).
            </li>
            <li>Bei Aktionsfeldern müssen eine Aktionskarte ziehen und gegebenenfalls die Aktion der Karte ausführen.
            </li>
            <li>Auf dem Frei-Parken-Feld dürfen Sie sich ausruhen und müssen keine Aktion ausführen.</li>
            <li>Man kann von einem Bahnhof zu einem anderen Bahnhof reisen.</li>
        </ul>
    </li>
    <li>Sobald Sie alle Straßen einer Farbgruppe besitzen, dürfen Sie auf diesen Häuser, Hotels oder Fabriken bauen.
    </li>
    <li>Wenn Sie einen Pasch würfeln, führen Sie Ihren Spielzug ganz normal durch und Sie dürfen danach noch ein
        weiteres Mal würfeln.
    </li>
    <li>Das Spiel wird solange fortgesetzt, bis nur noch ein Spieler übrig ist. Dieser Spieler ist der Gewinner.</li>
</ol>
<h1>Im Einzeln</h1>

<h2>Grundstücke kaufen</h2>

<p>Es gibt <strong>3 verschiedene Arten</strong> von Grundstücken: Straßen, Bahnhöfe, Attraktionen. Sobald Sie ein Grundstück gekauft
    haben, erhalten Sie die zugehörige Grundstückskarte.
    Ab dem Kauf eines Grundstückes erhalten Sie Miete von Spielern, die auf ihrem Grundstück landen. Während Ihr
    Grundstück mit einer Hypothek belastet ist, können Sie keine Miete einnehmen (Mehr dazu unter “Hypothek aufnehmen”).
    Besitzen Sie alle Straßen der selben Farbgruppe und haben Sie auf keinem dieser Straßen Gebäude errichtet, so
    verdoppelt sich die Grundstücksmiete für vorbeikommende Spieler.</p>

<h2>Attraktionen</h2>

<p>Attraktionen sind Grundstücke werden genauso verkauft wie Straßen. Es gibt die Attraktionen “Riesenrad” und “Zirkus”.
    Jede der Attraktionen kostet <strong>150 LPD</strong>. Der Wert der Miete jedoch ist abhängig von der gewürfelten Augenzahl, mit
    welcher ein Mitspieler darauf landet. Besitztein Spieler eine der beiden Attraktionen, so beträgt die Miete den
    <strong>4-fachen Wert</strong> der gewürfelten Augenzahl. Besitzt ein Spieler beide Attraktionen, so beträgt die Miete den <strong>10-fachen
    Wert</strong> der gewürfelten Augenzahl in LPD.</p>

<h2>Bahnhöfe</h2>

<p>Die Bahnhöfe werden genauso verkauft wie Straßen. Jeder Bahnhof kostet <strong>200 LPD</strong>. Wenn Sie auf dem Bahnhof eines
    anderen Spielers landen, zahlen Sie ihm die Miete. Die Miete ist abhängig von der Anzahl der Bahnhöfe, die ein
    Spieler besitzt. Miete für einen Bahnhof beträgt <strong>50 LPD</strong>, für jeden weiteren Bahnhof den ein Spieler besitzt wird die
    Miete verdoppelt.</p>

<h3>Zugreisen</h3>

<p>Wenn Sie auf einem Bahnhof landen, können Sie mit dem Zug zu einem anderen Bahnhof reisen. Da es insgesamt vier
    Bahnhöfe gibt, können Sie entsprechend zu drei verschiedenen Bahnhöfen reisen. In Laufrichtung gesehen kostet die
    Reise pro Bahnhof <strong>75 LPD</strong> .Das Geld bekommt die Bank. Ist der Startbahnhof Ihrer Reise bereits verkauft, so zahlen Sie
    vor Ihrer Reise noch die Miete für diesen Bahnhof. Für den Zielbahnhof fällt jedoch keine Miete an.
    Bei Reisen zwischen Bahnhöfen, zwischen denen das Startfeld liegt, bekommen Sie kein Geld für das Überschreiten
    dieses Felds.</p>

<h2>Gebäude bauen</h2>

<p>Grundsätzlich kann ein Spieler nur Gebäude auf Straßen errichten, wenn er alle zugehörigen Straßen der selben
    Farbgruppe besitzt. Außerdem darf nur Gebäude bauen, wer an der Reihe ist. Da es in jeder Reihe Farbgruppen mit nur
    einer einzigen Straße gibt, kann man als Eigentümer dieses Grundstücks sofort beginnen, Gebäude darauf zu
    errichten.</p>

<h3>Häuser bauen</h3>

<p>Der Preis eines Hauses steht auf jeder Grundstückskarte. Häuser dürfen nur im einem gebaut werden, wenn sich auf der
    zu bebauenden Straße nicht schon ein Hotel oder eine Fabrik befindet. Häuser müssen gleichmäßig gebaut werden: Sie
    müssen also erst auf jeder Straße einer Farbgruppe ein Haus errichten, bevor Sie ein zweites auf einer Straße bauen
    können. Sie dürfen so viele Gebäude auf einmal bauen, wie Sie sich leisten können. Jedoch dürfen Sie keine Häuser
    auf Straßen bauen, wenn eine oder mehrere Straßen dieser Farbgruppe mit einer Hypothek belastet ist. Die Miete einer
    Straße erhöht sich mit dem Bauen von Häusern. Details zu den Mieten sind der jeweiligen Grundstückskarte zu
    entnehmen.</p>

<h3>Hotels bauen</h3>

<p>Ein Spieler kann ein Hotel auf eine Straße bauen, wenn sich auf einer Straße zuvor vier Häuser befinden. Beim Bau
    eines Hotels werden die Häuser entfernt und dafür ein Hotel errichtet. Der Preis eines Hotels befindet sich auf der
    Grundstückskarte einer Straße. Die Miete einer Straße erhöht sich mit dem Bauen eines Hotels.</p>

<h3>Fabriken bauen</h3>

<p>Fabriken stellen eine Alternative zum Bau von Häusern und Hotels dar. Fabriken können nur gebaut werden, wenn sich
    auf einer Straße keine anderen Gebäude befinden.
    Sie müssen sich also entscheiden, ob sie auf einer Straße eine Fabrik bauen möchten, oder ob sie Häuser und Hotels
    errichten wollen.
    Fabriken haben im Gegensatz zu Häusern und Hotels die Eigenschaft, dass Sie einen bestimmten Betrag (zu finden auf
    der Grundstückskarte der Straße) von der Bank erhalten, wenn Sie mit Ihrer Spielfigur direkt auf der Straße mit der
    Fabrik landen. Dies gilt nur, wenn Sie selbst Inhaber der Straße sind. Wenn Spieler auf Ihre Straße mit der Fabrik
    kommen, so entfällt für diese die Zahlung einer Miete.</p>

<h2>Casino</h2>

<p>Das Casino ist ein Spezialfeld. Landet man mit einem Pasch auf dem Casino, so erhält man <strong>ein Viertel</strong> des
    Casino-Vermögens. Eine Ausnahme bildet der <strong>6er-Pasch</strong>. Kommt man mit zwei Sechsen auf das Casino, gewinnt man den
    Jackpot! Das ist jeweils <strong>die Hälfte</strong> des im Casino vorhandenen Vermögens.</p>

<h3>Casino-Steuerfeld</h3>

<p>Landen Sie auf einem der Casino-Steuerfelder, müssen Sie dem Casino den angegebenen Betrag überweisen.</p>

<h2>Das Gefängnis</h2>

<p>Es gibt drei Möglichkeiten, ins Gefängnis zu kommen. Wenn Sie in einem Zug drei mal in Folge einen Pasch würfeln oder
    wenn Sie auf dem Spezialfeld “Gehen Sie ins Gefängnis” landen oder wenn Sie in einer Aktionskarte dazu aufgefordert
    werden, müssen Sie ins Gefängnis. Sollten Sie mit Ihrem dritten Pasch über Los gekommen sein, erhalten Sie kein
    Geld. Sie müssen aber gegebenenfalls Miete bezahlen. Im nächsten
    Zug dürfen Sie dann vom Gefängnis aus würfeln. Haben Sie einen Pasch gewürfelt, kommen Sie frei und dürfen sofort um
    die gewürfelte Augenzahl weiterziehen. Sollten Sie nach drei Zügen keinen Pasch gewürfelt haben, müssen Sie eine
    Strafe von <strong>50 LPD</strong> an die Bank bezahlen und ziehen anschließend im selben Zug weiter. Natürlich kann man vor der 3.
    Runde sich aus dem Gefängnis herauskaufen.</p>

<h1>Ihr Vermögen</h1>

<h2>Kein Geld mehr</h2>

<p>Im Verlauf des Spiels kann es passieren, dass Ihr Vermögen knapp wird.
    Sobald Sie ein einziges Mal zahlungsunfähig sind, scheiden Sie aus dem Spiel aus. Aus diesem Grund sollten Sie
    versuchen, vorrausschauend zu spielen! Vergewissern Sie sich vor dem Kauf von Grundstücken und Gebäuden, beim
    akzeptieren von Tauschangeboten etc. immer, dass Sie genug Vermögen haben, um die Zahlung auszuführen!</p>

<h2>Tauschen und Verkaufen</h2>

<p>Unbebaute Straßen, Bahnhöfe und Attraktionen dürfen jederzeit mit anderen Spielern zum Tausch angeboten werden.
    Zusätzlich können auch bestimmte Geldbeträge zu dem Tausch hinzugefügt werden. Als Gegenlsitung wird ebenfalls ein
    Gebäude oder auch Geld verlangt. Eine Straße darf aber nicht getauscht werden, wenn sich auf mindestens einer der
    Straßen der Farbgruppe ein Gebäude befindet. Diese Gebäude müssen davor erst verkauft werden. Tauschangebote können
    vorbereitet weden, während andere Spieler an der Reihe sind. Sie können einem anderen Spieler aber erst ein
    Tauschangebot senden, wenn Sie an der Reihe sind. Außerdem kann ein Tauschangebot nur zustandekommen, wenn der
    anbietende Tauschpartner gerade an der Reihe ist.</p>

<p>Gebäude werden zum halben Preis an die Bank zurückverkauft. Häuser werden genauso gleichmäßig verkauft, wie sie
    gebaut wurden. Beim Verkaufen eines Hotels würde der Spieler den <strong>halben Preis</strong> für das Hotel und den <strong>halben Preis</strong> für
    die 4 Häuser erhalten. Es ist auch möglich, ein Hotel in 4 Häuser zurück zu verwandeln.</p>

<p>Desweiteren kann für die Hälfte des Kaufpreises ein Grundstück an die Bank zurück verkauft werden. Beim Verkauf von
    Straßen an die Bank müssen zuerst alle Gebäude verkauft werden.</p>

<h2>Hypothek aufnehmen</h2>

<p>Um wieder an Geld zu kommen, können Sie eine Hypothek auf Ihr Grundstück aufnehmen. Dabei wird die Grundstückskarte
    umgedreht und Sie erhalten von der Bank den Hypothekenwert Ihres Grundstücks.
    Um Hypotheken auf Straßen zu bekommen, müssen zuerst alle Gebäude auf der Straße verkauft werden.
    Während ihr Grundstück belastet ist, fällt für andere Spieler keine Miete auf diesem Grundstück an.</p>

<h2>Hypothek zurückzahlen</h2>

<p>Um eine Hypothek aufzulösen, bezahlen Sie der Bank den <strong>ursprünglichen Betrag</strong> der Hypothek zurück <strong>plus 10% Zinsen</strong>.</p>

<h2>Grundstückspreise und Mieten</h2>

<p>Im Folgenden sind alle Preise und Mieten für sämtliche Straßen aus Las Poly zusammengefasst. Attraktionen und
    Bahnhöfe haben spezielle, oben genannte Verfahren zur Ermittlung der Preise.</p>
<table border="1">
    <tr>
        <th>Grundstück</th>
        <th>Preis</th>
        <th>Haus kaufen</th>
        <th>Hotel kaufen</th>
        <th>Fabrik kaufen</th>
        <th>Hypothekenwert</th>
    </tr>
    <tr>
        <td>Arndt Avenue</td>
        <td>60 LPD</td>
        <td>30 LPD</td>
        <td>30 LPD</td>
        <td>60 LPD</td>
        <td>30 LPD</td>
    </tr>
    <tr>
        <td>Frank Sinatra Route</td>
        <td>70 LPD</td>
        <td>40 LPD</td>
        <td>40 LPD</td>
        <td>80 LPD</td>
        <td>35 LPD</td>
    </tr>
    <tr>
        <td>Winnick Way</td>
        <td>80 LPD</td>
        <td>40 LPD</td>
        <td>40 LPD</td>
        <td>80 LPD</td>
        <td>40 LPD</td>
    </tr>
    <tr>
        <td>Rochelle Street</td>
        <td>100 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>50 LPD</td>
    </tr>
    <tr>
        <td>Jacoby Street</td>
        <td>100 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>50 LPD</td>
    </tr>
    <tr>
        <td>Singer Route</td>
        <td>120 LPD</td>
        <td>60 LPD</td>
        <td>60 LPD</td>
        <td>120 LPD</td>
        <td>60 LPD</td>
    </tr>
    <tr>
        <td>Fulano</td>
        <td>130 LPD</td>
        <td>65 LPD</td>
        <td>65 LPD</td>
        <td>130 LPD</td>
        <td>65 LPD</td>
    </tr>
    <tr>
        <td>West Avenue</td>
        <td>140 LPD</td>
        <td>75 LPD</td>
        <td>75 LPD</td>
        <td>150 LPD</td>
        <td>70 LPD</td>
    </tr>
    <tr>
        <td>Monterro Freeway</td>
        <td>150 LPD</td>
        <td>75 LPD</td>
        <td>75 LPD</td>
        <td>150 LPD</td>
        <td>75 LPD</td>
    </tr>
    <tr>
        <td>Hardwick Street</td>
        <td>180 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>90 LPD</td>
    </tr>
    <tr>
        <td>Park Road</td>
        <td>180 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>90 LPD</td>
    </tr>
    <tr>
        <td>Casino Street</td>
        <td>200 LPD</td>
        <td>100 LPD</td>
        <td>100 LPD</td>
        <td>200 LPD</td>
        <td>100 LPD</td>
    </tr>
    <tr>
        <td>St. Louis Square</td>
        <td>220 LPD</td>
        <td>110 LPD</td>
        <td>110 LPD</td>
        <td>220 LPD</td>
        <td>110 LPD</td>
    </tr>
    <tr>
        <td>Bellagio Path</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
        <td>120 LPD</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
    </tr>
    <tr>
        <td>Kennedy Avenue</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
        <td>120 LPD</td>
        <td>240 LPD</td>
        <td>120 LPD</td>
    </tr>
    <tr>
        <td>Theresia Freeway</td>
        <td>260 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>130 LPD</td>
    </tr>
    <tr>
        <td>Douglas Promenade</td>
        <td>260 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>130 LPD</td>
    </tr>
    <tr>
        <td>Heaven Avenue</td>
        <td>280 LPD</td>
        <td>140 LPD</td>
        <td>140 LPD</td>
        <td>280 LPD</td>
        <td>140 LPD</td>
    </tr>
    <tr>
        <td>Edison Walker Street</td>
        <td>300 LPD</td>
        <td>150 LPD</td>
        <td>150 LPD</td>
        <td>300 LPD</td>
        <td>150 LPD</td>
    </tr>
    <tr>
        <td>Crosswood Avenue</td>
        <td>320 LPD</td>
        <td>170 LPD</td>
        <td>170 LPD</td>
        <td>320 LPD</td>
        <td>160 LPD</td>
    </tr>
    <tr>
        <td>Showcase Road</td>
        <td>340 LPD</td>
        <td>170 LPD</td>
        <td>170 LPD</td>
        <td>340 LPD</td>
        <td>170 LPD</td>
    </tr>
    <tr>
        <td>Winchester 95</td>
        <td>360 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>180 LPD</td>
    </tr>
    <tr>
        <td>Paradise Road</td>
        <td>360 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>180 LPD</td>
    </tr>
    <tr>
        <td>Las Vegas Strip</td>
        <td>400 LPD</td>
        <td>200 LPD</td>
        <td>200 LPD</td>
        <td>400 LPD</td>
        <td>200 LPD</td>
    </tr>
</table>
<span>&nbsp;</span>
<table border="1">
    <tr>
        <th>Grundstück</th>
        <th>Miete ohne Haus</th>
        <th>Miete 1 Haus</th>
        <th>Miete 2 Häuser</th>
        <th>Miete 3 Häuser</th>
        <th>Miete 4 Häuser</th>
        <th>Miete Hotel</th>
        <th>Fabrikertrag</th>
    </tr>
    <tr>
        <td>Arndt Avenue</td>
        <td>2 LPD</td>
        <td>10 LPD</td>
        <td>30 LPD</td>
        <td>90 LPD</td>
        <td>170 LPD</td>
        <td>260 LPD</td>
        <td>230 LPD</td>
    </tr>
    <tr>
        <td>Frank Sinatra Route</td>
        <td>4 LPD</td>
        <td>20 LPD</td>
        <td>60 LPD</td>
        <td>180 LPD</td>
        <td>340 LPD</td>
        <td>520 LPD</td>
        <td>460 LPD</td>
    </tr>
    <tr>
        <td>Winnick Way</td>
        <td>5 LPD</td>
        <td>25 LPD</td>
        <td>75 LPD</td>
        <td>225 LPD</td>
        <td>425 LPD</td>
        <td>650 LPD</td>
        <td>575 LPD</td>
    </tr>
    <tr>
        <td>Rochelle Street</td>
        <td>6 LPD</td>
        <td>30 LPD</td>
        <td>90 LPD</td>
        <td>270 LPD</td>
        <td>510 LPD</td>
        <td>780 LPD</td>
        <td>690 LPD</td>
    </tr>
    <tr>
        <td>Jacoby Street</td>
        <td>7 LPD</td>
        <td>35 LPD</td>
        <td>105 LPD</td>
        <td>315 LPD</td>
        <td>595 LPD</td>
        <td>910 LPD</td>
        <td>805 LPD</td>
    </tr>
    <tr>
        <td>Singer Route</td>
        <td>8 LPD</td>
        <td>40 LPD</td>
        <td>120 LPD</td>
        <td>360 LPD</td>
        <td>680 LPD</td>
        <td>1040 LPD</td>
        <td>920 LPD</td>
    </tr>
    <tr>
        <td>Fulano</td>
        <td>10 LPD</td>
        <td>50 LPD</td>
        <td>100 LPD</td>
        <td>300 LPD</td>
        <td>550 LPD</td>
        <td>850 LPD</td>
        <td>750 LPD</td>
    </tr>
    <tr>
        <td>West Avenue</td>
        <td>11 LPD</td>
        <td>55 LPD</td>
        <td>165 LPD</td>
        <td>495 LPD</td>
        <td>935 LPD</td>
        <td>1430 LPD</td>
        <td>1265 LPD</td>
    </tr>
    <tr>
        <td>Monterro Freeway</td>
        <td>12 LPD</td>
        <td>60 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>1020 LPD</td>
        <td>1560 LPD</td>
        <td>1380 LPD</td>
    </tr>
    <tr>
        <td>Hardwick Street</td>
        <td>14 LPD</td>
        <td>70 LPD</td>
        <td>210 LPD</td>
        <td>630 LPD</td>
        <td>1190 LPD</td>
        <td>1820 LPD</td>
        <td>1610 LPD</td>
    </tr>
    <tr>
        <td>Park Road</td>
        <td>15 LPD</td>
        <td>75 LPD</td>
        <td>225 LPD</td>
        <td>675 LPD</td>
        <td>1275 LPD</td>
        <td>1950 LPD</td>
        <td>1725 LPD</td>
    </tr>
    <tr>
        <td>Casino Street</td>
        <td>16 LPD</td>
        <td>80 LPD</td>
        <td>240 LPD</td>
        <td>720 LPD</td>
        <td>1360 LPD</td>
        <td>2080 LPD</td>
        <td>1840 LPD</td>
    </tr>
    <tr>
        <td>St. Louis Square</td>
        <td>18 LPD</td>
        <td>90 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>990 LPD</td>
        <td>1530 LPD</td>
        <td>1350 LPD</td>
    </tr>
    <tr>
        <td>Bellagio Path</td>
        <td>19 LPD</td>
        <td>95 LPD</td>
        <td>185 LPD</td>
        <td>855 LPD</td>
        <td>1615 LPD</td>
        <td>2470 LPD</td>
        <td>2185 LPD</td>
    </tr>
    <tr>
        <td>Kennedy Avenue</td>
        <td>20 LPD</td>
        <td>100 LPD</td>
        <td>300 LPD</td>
        <td>900 LPD</td>
        <td>1700 LPD</td>
        <td>2600 LPD</td>
        <td>2300 LPD</td>
    </tr>
    <tr>
        <td>Theresia Freeway</td>
        <td>22 LPD</td>
        <td>110 LPD</td>
        <td>330 LPD</td>
        <td>990 LPD</td>
        <td>1870 LPD</td>
        <td>2860 LPD</td>
        <td>2530 LPD</td>
    </tr>
    <tr>
        <td>Douglas Promenade</td>
        <td>23 LPD</td>
        <td>115 LPD</td>
        <td>345 LPD</td>
        <td>1035 LPD</td>
        <td>1955 LPD</td>
        <td>2990 LPD</td>
        <td>2645 LPD</td>
    </tr>
    <tr>
        <td>Heaven Avenue</td>
        <td>24 LPD</td>
        <td>120 LPD</td>
        <td>360 LPD</td>
        <td>1080 LPD</td>
        <td>2040 LPD</td>
        <td>3120 LPD</td>
        <td>2760 LPD</td>
    </tr>
    <tr>
        <td>Edison Walker Street</td>
        <td>26 LPD</td>
        <td>130 LPD</td>
        <td>260 LPD</td>
        <td>780 LPD</td>
        <td>1430 LPD</td>
        <td>2210 LPD</td>
        <td>1950 LPD</td>
    </tr>
    <tr>
        <td>Crosswood Avenue</td>
        <td>29 LPD</td>
        <td>145 LPD</td>
        <td>435 LPD</td>
        <td>1305 LPD</td>
        <td>2465 LPD</td>
        <td>3770 LPD</td>
        <td>3335 LPD</td>
    </tr>
    <tr>
        <td>Showcase Road</td>
        <td>30 LPD</td>
        <td>150 LPD</td>
        <td>450 LPD</td>
        <td>1350 LPD</td>
        <td>2550 LPD</td>
        <td>3900 LPD</td>
        <td>3450 LPD</td>
    </tr>
    <tr>
        <td>Winchester 95</td>
        <td>36 LPD</td>
        <td>180 LPD</td>
        <td>540 LPD</td>
        <td>1620 LPD</td>
        <td>3060 LPD</td>
        <td>4680 LPD</td>
        <td>4140 LPD</td>
    </tr>
    <tr>
        <td>Paradise Road</td>
        <td>38 LPD</td>
        <td>190 LPD</td>
        <td>570 LPD</td>
        <td>1710 LPD</td>
        <td>3230 LPD</td>
        <td>4940 LPD</td>
        <td>4370 LPD</td>
    </tr>
    <tr>
        <td>Las Vegas Strip</td>
        <td>40 LPD</td>
        <td>200 LPD</td>
        <td>600 LPD</td>
        <td>1800 LPD</td>
        <td>3400 LPD</td>
        <td>5200 LPD</td>
        <td>4600 LPD</td>
    </tr>
</table>


</body>
</html>