<html>
<head>
    <meta charset="utf-8">
    <title>Las Poly - Copyright</title>
    <link href="./copyright.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h2>Bilder</h2>
<ul>
    <li>
        <div>Riesenrad</div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
        </a></li>
    <li>
        <div>Parken</div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
        </a></li>
			<li>
		<div>Aktionskarte</div>
		<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a 
				href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
				href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	</li>
    <li>
        <div>Las Poly Logo</div>
        <div>Original Logo made by <a href="https://commons.wikimedia.org/wiki/User:Anasofiapaixao" title="Anasofiapaixao">Anasofiapaixao</a> from <a
                href="https://commons.wikimedia.org" title="Commons Wikipedia">www.commons.wikipeida.org</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> and modified by Levent Sofuoglu</div>
    </li>
    <li>
        <div>Still</div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/egor-rumyantsev" title="Egor Rumyantsev">Egor Rumyantsev</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

    </li>
    <li>
        <div>Email Symbol</div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </li>
    <li>
        <div>Lautstärke ein</div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </li>
    <li>
        <div>Icon Pack</div>
        <div>Icons made by <a href="https://fortawesome.github.io/Font-Awesome/icons/" title="Font Awesome">Font Awesome</a> from <a
                href="https://fortawesome.github.io/Font-Awesome/icons/" title="Font Awesome">https://fortawesome.github.io/Font-Awesome/icons/</a> is licensed by <a
                href="http://scripts.sil.org/OFL" title="SIL OFL 1.1">SIL OFL 1.1</a></div>
    </li>
</ul>
<h2>Modelle</h2>
<ul>
    <li>
        Jail Cell made by Iceman from <a href="https://3dwarehouse.sketchup.com/model.html?id=a090e7485f3b7760c2af671e4c6146fa">3dwarehouse.sketchup.com</a>.
    </li>
    <li>
        Yacht made by TheDuckCow from <a href="http://www.blendswap.com/blends/view/26723">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        Geometric Vehicles Pack Light made by metalix from <a href="http://www.blendswap.com/blends/view/68649">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        Geometric Building Town Pack Light made by metalix from <a href="http://www.blendswap.com/blends/view/68644">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        Cicus Tent made by Mike Belanger from <a href="http://www.blendswap.com/blends/view/3917">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        Eiffel Tower made by Skaldy from <a href="http://www.blendswap.com/blends/view/72680">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        Cartoon Character Pack 1 made by VMComix from <a href="http://www.blendswap.com/blends/view/14445">www.blendswap.com</a> and modified by Thomas Kratochwil.
    </li>
    <li>
        London Underground Sign made by mr.architect from <a href="https://3dwarehouse.sketchup.com/model.html?id=3b022799139fca9d2c2b92f9421a8951">www.3dwarehouse.sketchup.com</a> and modified by Brian Wirth.
    </li>
    <li>
        Milwaukee Harp Lamp - Single made by Keith S. from <a href="https://3dwarehouse.sketchup.com/model.html?id=74dff8f0a865368b4a8e02787dff638e">www.3dwarehouse.sketchup.com</a> and modified by Brian Wirth.
    </li>
    <li>
        Rydges Lakeside Hotel, Canberra, ACT made by David H. from <a href="https://3dwarehouse.sketchup.com/model.html?id=68fa94b38aeda83c557ad1a3192d43a5">www.3dwarehouse.sketchup.com</a> and modified by Brian Wirth.
    </li>
    <li>
        Old factory hall made by hoi from <a href="https://3dwarehouse.sketchup.com/model.html?id=f20a14c4274ca5152db8ccbcb16783d9">www.3dwarehouse.sketchup.com</a> and modified by Brian Wirth.
    </li>


</ul>
<h2>Musik</h2>
<ul>
    <li>Cruisin written by Frank Klepacki at <a href="http://de.wikipedia.org/wiki/Westwood_Studios">Westwood
        Studios</a>.
    </li>
    <li>
        The Jazz Piano by <a href="http://www.bensound.com/royalty-free-music/track/the-jazz-piano">www.bensound.com</a>.
    </li>
    <li>
        Jazz Comedy by <a href="http://www.bensound.com/royalty-free-music/track/jazz-comedy">www.bensound.com</a>.
    </li>
</ul>
<h2>Soundeffekte</h2>
<ul>
    <li>Cards Shuffling recorded by themfish from <a href="http://soundbible.com/662-Cards-Shuffling.html">www.soundbible.com</a>.
    </li>
    <li>Drill recorded by Mike Koenig from <a href="http://soundbible.com/1074-Drill.html">www.soundbible.com</a>.</li>
    <li>Shake and Roll Dice recorded by Mike Koenig from <a href="http://soundbible.com/182-Shake-And-Roll-Dice.html">www.soundbible.com</a>.
    </li>
    <li>Construction Set recorded by Celticvalkyria from <a
            href="http://freesound.org/people/Celticvalkyria/sounds/250521/">www.freesound.org</a></li>
    <li>Cash Register recorded by kiddpark from <a href="http://freesound.org/people/kiddpark/sounds/201159/">www.freesound.org</a>.
    </li>
    <li>draw card recorded by themfish from <a href="http://freesound.org/people/themfish/sounds/45813/">www.freesound.org</a>
        and modified by Thomas Kratochwil.
    </li>
</ul>
</body>
</html>