<html>
    <meta charset="utf-8">
<head>

    <title>General</title>
    <link href="./general.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h2>Allgemein</h2>
Diese Programm wurde im Rahmen des <a href="http://modulhandbuch.hs-heilbronn.de/moduldaten/configansehen.php?ok=ansehen&name=SEB_3_&veranstaltung=261781">Labors für Software Projekte und Project Skils</a> entwickelt.
<h2>Entwickler</h2>
<ul> 
    <li>Brian Wirth</li>
    <li>Thomas Kratochwil</li>
    <li>Levent Sofuoglu</li>
    <li>Patrick Eitel (Product Owner)</li>
    <li>Sven Mayer (Scrum Master)</li>
    <li>Philip Kazmeier (Qualitycontrol)</li>
</ul>

</body>
</html>