.root {
    -fx-background-color: rgba(250, 250, 250, 1);

    /* Selection colors overwritten*/
    -fx-focus-color: rgba(250, 250, 250, 1);
    -fx-accent: rgba(250, 250, 250, 1);
}

.toparea {
    -fx-background-color: rgba(240, 240, 240, 1);
    -fx-border-color: rgb(225, 225, 225);
    -fx-border-width: 0 0 1 0;
}

#usernameLabel {
    -fx-font-size: 18px;
}

#gamesTable {
    -fx-base: rgba(240, 240, 240, 1);
    -fx-control-inner-background: rgba(250, 250, 250, 1);
    -fx-border-color: rgba(225, 225, 225, 1);
    -fx-border-width: 2, 2, 2, 2;
    -fx-border-radius: 5;
    -fx-background-insets: 0, 0;
}

#gamesTable .column-header {
    -fx-base: rgba(240, 240, 240, 1);
    -fx-control-inner-background: rgba(240, 240, 240, 1);
    -fx-background-insets: 0, 0;
    -fx-background-radius: 5;
    -fx-padding: 0, 0, 0, 0;
}

.button {
    -fx-base: rgba(240, 240, 240, 1);
    -fx-control-inner-background: rgba(240, 240, 240, 1);
    -fx-background-insets: 0, 0;
    -fx-background-radius: 5;
}

#refresh {
    -fx-background-image: url("refresh.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

#addgame {
    -fx-background-image: url("addgame.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
